**Real Jobs Dataset Clean up**

This script reads the raw real jobs dataset from the dataset folder, cleans and prepares it for our study.

In [47]:
# import needed libraries
import pandas as pd

In [48]:
# load the raw real jobs data
real_jobs_df = pd.read_csv("../1_datasets/raw_real_jobs/real_jobs.csv")

In [49]:
# display the first few rows of the dataframe
print(real_jobs_df.head(8))

             ID  Type                                 Job Title  \
0       ASEEL 1  Real               Market Intelligence Analyst
1             2  Real      Business Research - Research Analyst
2             3  Real  Brand Activation Assistant Analyst (ABM)
3             4  Real                          Marketing Intern
4             5  Real                         Marekting Analyst
5  ROUAA      1  Real  Cyber Threat Intelligence Analyst (CERT)
6             2  Real                              Math Teacher
7             3  Real           Customer Service Representative

                   Company Name  \
0                        Henkel
1                     Infomenio
2                       Pepsico
3                          EMEA
4                         Agoda
5                       CMA CGM
6  Armenian Evangelical College
7                      The Flex

                                Full Job Description Source Platform  \
0  Join Henkel’s Global Business Solution (GBS+) ...        Linkedin
1  \r\nYou will be joining one of our teams and w...        Linkedin
2  Support the Senior Brand Manager in executing ...        Linkedin
3  SmartBuyGlasses Optical Group seeks a full-tim...        Linkedin
4  Agoda is a leading global online travel platfo...        Linkedin
5  We are looking for a Cyber Threat Intelligence...        Linkedin
6  This is a contract Math Teacher role located o...        Linkedin
7  As our Client Success Partner, you’ll be the f...        Linkedin

                                                 URL Date Collected
0                                                job     23-06-2025
1      https://www.linkedin.com/jobs/view/4249622084      month ago
2      https://www.linkedin.com/jobs/view/4255180517     23-06-2025
3  https://www.linkedin.com/jobs/view/4255764181/...     24-06-2025
4      https://www.linkedin.com/jobs/view/4145428871       week ago
5      https://www.linkedin.com/jobs/view/4242853577    3 weeks ago
6      https://www.linkedin.com/jobs/view/4254338865      yesterday
7      https://www.linkedin.com/jobs/view/4257422563   23 hours ago

In [50]:
# display the shape of the dataframe
print(real_jobs_df.shape)

(515, 8)

In [51]:
# drop the id column
real_jobs_df = real_jobs_df.drop(columns=["ID"])

In [52]:
# remove rows where all values are missing
real_jobs_df = real_jobs_df.dropna(how="all")

# display the shape of the dataframe after dropping missing values
print(real_jobs_df.shape)

(370, 7)

In [63]:
# display what is in the type column
print(real_jobs_df["Type"].unique())

['Real']

In [64]:
# display the unique job titles in the dataframe
print(real_jobs_df["Job Title"].unique())

['Market Intelligence Analyst' 'Business Research - Research Analyst'
 'Brand Activation Assistant Analyst (ABM)' 'Marketing Intern'
 'Marekting Analyst' 'Cyber Threat Intelligence Analyst (CERT)'
 'Math Teacher' 'Customer Service Representative' 'Senior AI Consultant'
 'Data Analyst' 'Board Certified Behavior Analyst (BCBA)' nan
 'Data Scientist - AI Trainer' 'Sr Data Scientist'
 'Staff Machine Learning Scientist' 'AI Architect'
 'Part-Time Online Math Teacher\r' 'Math Teacher '
 'SAP Business One Consultant'
 'Senior Data Scientist, Research, Ads Insights, Measurement'
 'Data Analyst \r' 'Business Administrator 1 \n' 'Internship'
 'Swift Coders - AI Training' 'Entreprenuer in Residence'
 'Quantitative Researcher' 'Business Development Associate'
 '2025 Fall Intern' 'Machine Learning Engineer, Safeguards'
 'Receptionist - MV Family Care Northrise'
 'FY26: Teacher, Grade 5 (Math), East Silver Spring, ES, 1.0 FTE']

In [65]:
# count the number of unique job titles
print(len(real_jobs_df["Job Title"].unique()))

31

In [68]:
# set ouput file path
output_file_path = "../1_datasets/cleaned_real_jobs/cleaned_real_jobs.csv"

# save the cleaned dataframe to a new csv file
# real_jobs_df.to_csv(output_file_path, index=False)

In [70]:
# save the cleaned dataframe to a new csv file
real_jobs_df.to_csv(output_file_path, index=False)